@tailwind base;
@tailwind components;
@tailwind utilities;


.rgb{
  background-image: linear-gradient(to right, black, aqua, yellow, purple, red, green);
  animation: rgbeffect 8s ease-in infinite;
  transition: all 2s;
  filter: blur(0px)
}

@keyframes rgbeffect {
  10%{
    background-image: linear-gradient(to right, black, rgb(47, 222, 24), rgb(183, 33, 209), rgb(246, 201, 22), rgb(37, 242, 225), rgb(128, 9, 0));
  }
  40%{
    background-image: linear-gradient(to right, black, rgb(222, 34, 24), rgb(33, 209, 203), rgb(22, 246, 82), rgb(177, 37, 242), rgb(220, 189, 15));
  }
  70%{
    background-image: linear-gradient(to right, black, rgb(222, 216, 24), rgb(92, 209, 33), rgb(22, 246, 235), rgb(242, 37, 37), rgb(155, 15, 220));
  }
  90%{
    background-image: linear-gradient(to right, black, rgb(89, 85, 85));
  }
}

.scrollex::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  height: 8px;
}

.scrollex::-webkit-scrollbar-track {
  background: rgb(5, 209, 192);        /* color of the tracking area */
}

.scrollex::-webkit-scrollbar-thumb {
  background-color: rgb(25, 180, 151);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 4px solid rgb(219, 9, 188);  /* creates padding around scroll thumb */
}